.container-tarefas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.box-tarefa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    color:  #fff;
    background-color: #2D2D2D;
    padding: 2em;
    border-radius: 4px;
    margin: 1em 0;
}

.box-tarefa h3{
    color: lightgray;
    background-color: #2D2D2D;
}

.box-tarefa button{
    color: darkred;
    border: 0;
    background-color: transparent;
    border-radius: 4px;  
}
.box-tarefa button:hover{
    position: relative;
    bottom: 4px;
}

.box-tarefa svg{
    background-color: transparent;
    font-size: 30px;
    margin: 0 0 0 2rem;
}





